{% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <h1>Login</h1>
    <form action="" method="POST">

        {% csrf_token %}
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="{{ username }}">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">

        <div id="ask_registered">
            <p>Not registered?</p>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </form>

    <style>
        .error {
            color: red;
        }
    </style>
